body {
	font-family: Noto Sans TC;
	background-color: #eaeae4;
	letter-spacing: 0.125rem;
}
.underline {
	border-bottom: 0.125rem solid #9f9f9f;
	padding-bottom: 0.1875rem;
}
.sidebar {
	left: 1%;
	top: 5%;
	position: fixed;
	display: flex;
	flex-direction: column;
	z-index: 1;
}
.sidebar .logo {
	margin-bottom: 2.625rem;
}
.sidebar a {
	display: block;
	padding: 1rem;
	text-decoration: none;
	color: #000;
	transition: background 0.2s;
}
.sidebar-menu a {
	font-size: 1.5rem;
	/* line-height: 2.625rem; */
}
.sidebar-submenu a {
	font-size: 1.25rem;
	/* line-height: 1.875rem; */
}
.sidebar-menu a:hover {
	color: #617f99;
	background-color: #d6dfe6;
	border-radius: 0.3125rem;
}
.sidebar-menu li:hover .sidebar-submenu {
	display: block;
}
.sidebar-submenu {
	display: none;
	background-color: #fff;
	padding: 0.5rem;
	border-radius: 0.3125rem;
}

.hero {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	box-sizing: border-box;
	padding-left: 1%;
}
.sliders {
	width: 85vw;
	height: 80vh;
	position: relative;
	border-bottom-left-radius: 5.3125rem;
	overflow: hidden;
}
.slider-img img {
	width: 100%;
	height: auto;
	object-fit: cover;
	z-index: 0;
}
.slider-txt1 {
	position: absolute;
	top: 60%;
	left: 50%;
	font-family: Noto Serif TC;
	color: #fff;
	font-size: 4rem;
	letter-spacing: 0.625rem;
	z-index: 2;
}
.slider-txt2 {
	position: absolute;
	top: 75%;
	left: 60%;
	color: #fff;
	font-family: Noto Serif TC;
	font-size: 4rem;
	letter-spacing: 0.625rem;
	z-index: 2;
}

.slider-buttons {
	position: absolute;
	bottom: 15%;
	right: 40%;
}

.slider-btn {
	width: 0.625rem;
	height: 0.625rem;
	border-radius: 50%;
	border: none;
	margin: 0 0.3125rem;
	background-color: #ccc;
	cursor: pointer;
}

.slider-btn.active {
	background-color: #333;
}

.about {
	margin-top: 8.125rem;
	background-color: #e2eaf1;
	background-image: linear-gradient(to bottom left, #8f9fad 20%, #e2eaf1 100%);
	overflow: hidden;
	/* box-sizing: border-box; */
}
.about img {
	object-fit: contain;
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
	/* display: block; */
}

.about-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10%;
	justify-content: space-between;
}
.about-txt {
	/* width: 100%; */
	transform: translateY(3.125rem);
}
.about-txt h2 {
	font-size: 2.625rem;
	/* line-height: 3.125rem; */
	margin-bottom: 10%;
}

.about-txt p {
	font-size: 1.5rem;
	line-height: 2.625rem;
	color: #5a5a5a;
}
.about-img:first-of-type {
	transform: translateY(3.125rem);
}
.about-images {
	display: flex;
	/* grid-template-columns: repeat(3, 1fr); */
	justify-content: space-around;
}
.about img {
	max-width: 100%;
}
.about-images img:nth-child(1) {
	align-self: flex-end;
	/* justify-items: flex-start; */
}
.about-images img:nth-child(2) {
	align-self: center;
	/* grid-row: 1 ; */
}
.about-images img:nth-child(3) {
	/* grid-column: 3; */
	/* grid-row: 1; */
	align-items: center;
	justify-self: end;
}
.seasonal-section {
	margin-top: 8rem; /* 130px */
	padding: 5% 10%; /* 20px */
}
.seasonal-txt {
	display: flex;
	padding-left: 3%;
	gap: 2%;
}
.seasonal-title {
	width: 50%;
}
.seasonal-txt1 {
	margin-top: 4rem; /* 70px */
	color: #757575;
}

.seasonal-title h2 {
	font-size: 2.625rem;
}
.seasonal-txt1 h3 {
	font-size: 1.5rem;
	line-height: 3rem;
}
.seasonal-txt1 p {
	font-size: 1.25rem;
	line-height: 1.875rem;
}
.seasonal-content {
	overflow: hidden;
	width: 100%;
}

.carousel-container2 {
	overflow: hidden;
	width: 100%;
}

.carousel-track2 {
	display: flex;
	position: relative;
	justify-content: flex-end;
}

.slide-container2 {
	margin-right: 1.25rem;
}

.carousel-track2 img {
	max-width: 100%;
	height: auto;
	max-height: 25rem;
	max-width: none;
	transition: transform 0.5s ease-in-out;
}

.carousel-container2:hover .carousel-track2 {
	animation-play-state: paused;
}
.recommend {
	margin-top: 8.125rem;
	padding: 5rem 1.25rem;
	position: relative;
}

.recommend h2 {
	text-align: center;
	font-size: 2.625rem;
	line-height: 3.125rem;
	margin-bottom: 6.25rem;
}

.dish-item {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 6.25rem;
	gap: 3.75rem;
	flex-wrap: wrap;
}

.dish-item.right {
	flex-direction: row-reverse;
}

.dish-img {
	aspect-ratio: 1/1;
	width: 41%;
}
.dish-img img {
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	border-radius: 50%;
	object-fit: cover;
}

.dish-info {
	max-width: 47.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.dish-info h3 {
	font-size: 2.25rem;
	line-height: 2.5rem;
	color: #cf9f94;
	margin-bottom: 0.3125rem;
}
.dish-info h4 {
	font-size: 1.5rem;
	line-height: 2.625rem;
	color: #b0abaa;
}
.dish-info p {
	font-size: 1.25rem;
	line-height: 1.875rem;
	color: #666666;
}
.price {
	font-size: 2.25rem;
	color: #222;
	text-align: center;
}

.price span {
	font-size: 6rem;
	color: #617f99;
	margin-left: 0.375rem;
	font-weight: bold;
}

.palm-top {
	width: 18%;
	position: absolute;
	top: -0.3125rem;
	right: 0;
	transform: scaleX(-1);
}
.palm-bottom {
	width: 18%;
	position: absolute;
	top: 55%;
	left: 0;
}

.menu-section {
	margin-top: 8.125rem;
}

.menu-section h2 {
	font-size: 2.625rem;
	line-height: 3.125rem;
	margin-bottom: 3.125rem;
}
.menu-card::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("index-pic/menu-back.jpg") center/cover no-repeat;
	opacity: 0.2;
	z-index: 0;
}
.menu-card {
	display: flex;
	align-items: center;
	position: relative;
	padding: 5% 0;
	justify-content: center;
	gap: 6em;
	transition: transform 0.8s;
}
.menu-pic {
	aspect-ratio: 1/1;
	width: 41%;
}
.menu-card img {
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	border-radius: 50%;
	object-fit: cover;
	animation-delay: 0.2s;
}
.menu-card img,
.menu-card .menu-content {
	opacity: 0;
	animation: fadeInUp 0.8s ease-out forwards;
}

.menu-card .menu-content {
	animation-delay: 0.4s;
}
.menu-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 2.5rem;
}

.menu-content h3 {
	font-size: 2.25rem;
	line-height: 2.5rem;
	font-weight: bold;
}
.menu-content h4 {
	font-size: 1.25rem;
	line-height: 1.875rem;
	color: #818181;
}

.menu-content .price {
	font-size: 1.5rem;
	font-weight: bold;
	color: #555;
}
.nav-button {
	position: absolute;
	background-color: transparent;
	border: none;
	cursor: pointer;
	max-width: 100%;
	overflow: hidden;
}

.nav-button img {
	width: 100%;
	height: auto;
	object-fit: contain;
	pointer-events: none;
}

.nav-button.left {
	top: 0;
	bottom: 0;
	transform: translateX(-100%);
	z-index: 1;
}

.nav-button.right {
	top: 0;
	bottom: 0;
	right: 0;
	transform: translateX(100%);
	z-index: 1;
}
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(1.875rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.reservation {
	margin-top: 8.125rem;
	padding: 0 9.375rem;
}
.reservation-content {
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
}
.reservation-img img {
	width: 100%;
}
.reservation-txt {
	position: absolute;
	color: #fff;
	text-align: center;
	top: 45%;
	gap: 1.875rem;
}
.reservation-txt h2 {
	font-size: 2.625rem;
	line-height: 3.125rem;
	margin-bottom: 0.125rem;
}

.reservation-txt p {
	font-size: 2.25rem;
	line-height: 2.5rem;
	margin-bottom: 9.375rem;
}

.reservation-button {
	background-color: #fff;
	color: #617f99;
	padding: 3% 5%;
	text-decoration: none;
	border-radius: 6.25rem;
	font-size: 1.25rem;
	transition: background-color 0.3s ease;
}

.reservation-button:hover {
	background-color: #d6dfe6;
}
.footer-content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3% 0;
	gap: 15%;
}

.footer-txt {
	position: relative;
	color: #617f99;
}

.footer-txt::before {
	content: "";
	position: absolute;
	top: 0;
	left: -20%;
	width: 0.0625rem;
	height: 100%;
	background-color: #000;
}
.footer-txt p {
	font-size: 1.5rem;
	line-height: 2.625rem;
}
.footer-icon {
	display: flex;
	gap: 80%;
}
