body {
	font-family: "Noto Sans TC";
	background-color: #eaeae4;
	letter-spacing: 0.125rem;
}
.underline {
	border-bottom: 0.125rem solid #9f9f9f;
}
/* ----------------------------------------header */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 1ex;
	box-sizing: border-box;
	background-color: #fff;
	max-width: 1920px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	transition: top 0.5s ease;
}
.logo {
	flex-basis: 15%;
}
.logo img {
	width: 100%;
	height: auto;
}
.menu {
	display: flex;
}
.menu li {
	flex-basis: 20%;
}
.menu a {
	font-family: Zen Maru Gothic;
	display: block;
	font-size: 1.5rem;
	color: #000;
	text-decoration: none;
	text-align: center;
	border-radius: 0.3125rem;
	transition: background 0.2s;
	padding: 1rem 0.5rem;
	box-sizing: border-box;
}
.reservation-li a {
	color: #617f99;

	background-color: #d6dfe6;
	border-radius: 0.3125rem;
}
.menu a:hover {
	color: #617f99;
}
.submenu {
	display: none;
	position: absolute;
	background-color: #fff;
	z-index: 100;
	border-radius: 0.3125rem;
}
.menu li:hover .submenu {
	display: block;
}
.submenu button {
	display: none;
}
.mobile {
	display: none;
}

/* ---------------------------------banner */
.banner {
	padding-top: 7%;
	margin-bottom: 6.25%;
}
.sliders {
	position: relative;
	max-width: 1920px;
	padding-bottom: 2%;
	overflow: hidden;
}
.slider-img img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}
.slider-title1 {
	font-family: Zen Maru Gothic;
	position: absolute;
	top: 55%;
	left: 20%;
	color: #fff;
	font-size: 4rem;
	letter-spacing: 0.625rem;
	z-index: 2;
}
.slider-title2 {
	font-family: Zen Maru Gothic;
	position: absolute;
	top: 70%;
	left: 30%;
	color: #fff;
	font-size: 4rem;
	letter-spacing: 0.625rem;
	z-index: 2;
}
.slider-buttons {
	position: absolute;
	left: 50%;
}
.slider-btn {
	width: 0.625rem;
	height: 0.625rem;
	border-radius: 50%;
	border: none;
	margin: 0 0.3125rem;
	background-color: #ccc;
	cursor: pointer;
}
.slider-btn.active {
	background-color: #333;
}
/* .-----------------------------------------about */
.about {
	padding: 5% 0;
	background-image: url(about-pic/Rectangle\ 3370.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.about-content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.about-content .about-img {
	width: 28.5vw;
}
.about-content .about-img img {
	width: 100%;
	height: auto;
}
.about-txt {
	flex-basis: 30%;
}
.about-txt h2 {
	font-family: Zen Maru Gothic;
	font-size: 2.625rem;
	margin-bottom: 5.8rem;
}
.about-txt h3 {
	font-family: "Noto Sans TC";
	font-size: 1.5rem;
	line-height: 2.625rem;
	color: #5a5a5a;
}
.about-txt,
.about-img:first-of-type {
	transform: translateY(15.3%);
}
.about-images {
	padding-top: 10%;
	display: flex;
	justify-content: space-around;
}

.about-images .img01 {
	width: 14.1vw;
	align-self: flex-end;
}
.about-images .img02 {
	width: 22.8vw;
	align-self: center;
}
.about-images .img03 {
	width: 36.8vw;
}
.about-images img {
	width: 100%;
	height: auto;
}
/* ---------------------------------seasonal */
.seasonal {
	background-color: #fff;
	padding: 10%;
}
.seasonal-section {
	display: flex;
	justify-content: center;
}
.seasonal-title h2 {
	font-family: Zen Maru Gothic;
	font-size: 2.625rem;
	white-space: nowrap;
}
.seasonal-txt {
	padding: 5% 2%;
	margin-left: 2%;
}
.seasonal-txt h3 {
	font-size: 1.5rem;
	line-height: 3rem;
	color: #757575;
}
.seasonal-txt h4 {
	font-size: 1.25rem;
	line-height: 1.875rem;
	color: #757575;
}
.seasonal-cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
}
.seasonal-card {
	padding: 10% 0;
}
.seasonal-card-img {
	width: 26.8vw;
	position: relative;
	transition: transform 0.5s ease;
}
.seasonal-card-img img {
	width: 100%;
	height: auto;
	vertical-align: baseline;
}
.seasonal-card-img:hover {
	transform: scale(1.1);
}
.seasonal-card-txt h3 {
	font-size: 1.5rem;
	margin-top: 2%;
	line-height: 3rem;
	color: #cf9f94;
}
.seasonal-card-txt h4 {
	font-size: 1.25rem;
}
.seasonal-hover {
	position: absolute;
	width: 100%;
	height: auto;
	padding: 2% 0;
	text-align: end;
	background: #eeeeee80;
	transition: transform 0.5s ease;
	bottom: 0;
	opacity: 0;
}
.seasonal-card-img:hover .seasonal-hover {
	transform: translateY(-100%);
	opacity: 1;
}
.seasonal-hover p {
	display: inline-block;
	font-size: 1.25rem;
	color: #fff;
}
.seasonal-hover a {
	font-size: 1.25rem;
	text-decoration: none;
	color: #617f99;
	border-radius: 6.25rem;
	background-color: #d6dee6;
	padding: 0.5% 1%;
	margin: 0 2%;
}
/* ------------------------------recommend */
.recommend {
	padding: 5%;
	position: relative;
}
.recommend h2 {
	font-family: Zen Maru Gothic;
	text-align: center;
	font-size: 2.625rem;
	line-height: 3.125rem;
	margin-bottom: 6.25rem;
}
.recommend-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.recommend-card {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6% 0;
	gap: 6%;
}
.recommend-card-img {
	aspect-ratio: 1/1;
	width: 36.45vw;
	overflow: hidden;
	flex-shrink: 1;
}
.recommend-card-img img {
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	border-radius: 50%;
	object-fit: cover;
}
.recommend-card-txt {
	flex-basis: 30%;
}
.recommend-card-txt h3 {
	font-family: Zen Maru Gothic;
	font-size: 2.25rem;
	line-height: 2.5rem;
	color: #cf9f94;
	margin-bottom: 5%;
}
.recommend-card-txt h4 {
	font-size: 1.5rem;
	line-height: 2.625rem;
	color: #b0abaa;
	margin-bottom: 5%;
}
.recommend-card-txt p {
	font-size: 1.25rem;
	line-height: 1.875rem;
	color: #666666;
}
.price {
	font-size: 2.25rem;
	color: #222;
	text-align: center;
}
.price span {
	font-size: 6rem;
	color: #617f99;
	margin-left: 0.37rem;
	font-weight: bold;
}
.recommend-cards :nth-child(2) {
	flex-direction: row-reverse;
}
.palm-pic {
	width: 18vw;
	position: absolute;
	z-index: -1;
}
.palm-pic img {
	width: 100%;
	height: auto;
}
.palm-pic.palm-top {
	top: 0;
	right: 0;
	transform: scaleX(-1);
}
.palm-pic.palm-bottom {
	top: 55%;
	left: 0;
}
/* ------------------------------selected */
.selected {
	position: relative;
	padding: 5% 0;
}
.selected-background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("index-pic/selected-background.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 0;
}
.selected h2 {
	text-align: center;
	font-size: 2.625rem;
	line-height: 3.125rem;
	margin-bottom: 3.125rem;
	font-family: Zen Maru Gothic;
}
.selected-card {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 5% 0;
	gap: 10%;
	transition: transform 0.8s;
}
.selected-card-pic {
	aspect-ratio: 1/1;
	width: 36.45vw;
	overflow: hidden;
}
.selected-card-pic img {
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	border-radius: 50%;
	object-fit: cover;
	animation-delay: 0.2s;
}
.selected-card-txt {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 3.125rem;
	padding: 0 3%;
}
.selected-card-txt h3 {
	font-size: 2.25rem;
	font-weight: bold;
}
.selected-card-txt h4 {
	font-size: 1.25rem;
	color: #818181;
}
.selected-button {
	position: absolute;
	background: none;
	border: none;
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
	z-index: 1;
}
.selected-button img {
	width: 100%;
	object-fit: contain;
	pointer-events: none;
}
.selected-button.left {
	top: 50%;
	left: 55%;
}
.selected-button.right {
	top: 50%;
	right: 8%;
}
.selected-card.animate {
	opacity: 0;
	animation: fadeInUp 0.8s ease-out forwards;
}
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(1.875rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
/* ---------------------------------reservation */
.reservation {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5% 0;
	position: relative;
}
.reservation-pic {
	max-width: 1920px;
	overflow: hidden;
}
.reservation img {
	width: 100%;
	height: auto;
	object-fit: cover;
}
.reservation-txt {
	position: absolute;
	color: #fff;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.8rem;
	padding-top: 5%;
}
.reservation-txt h2 {
	font-size: 2.625rem;
	color: #757575;
}
.reservation-txt h3 {
	font-size: 2.25rem;
	color: #757575;
	margin-bottom: 10rem;
}
.reservation-button {
	text-decoration: none;
	display: inline-block;
	color: #617f99;
	font-size: 1.25rem;
	border-radius: 6.25rem;
	padding: 2ex 5em;
	justify-self: end;
	background-color: #d6dfe6;
}
/* -----------------------------footer */
.footer {
	position: relative;
	padding-bottom: 10%;
}
.footer-background {
	max-width: 1920px;
	position: absolute;
	bottom: 0;
	z-index: -1;
}
.footer-background img {
	width: 100%;
	height: auto;
}
.footer-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 2.5rem;
}
.footer-txt p {
	text-align: start;
	font-size: 1.5rem;
	line-height: 2.625rem;
	color: #617f99;
}
.footer-icon {
	display: flex;
	column-gap: 2.5rem;
}
.footer-copyright {
	color: #757575;
	position: absolute;
	text-align: center;
	bottom: 0;
}
@media (max-width: 768px) {
	.logo img {
		width: 100px;
	}
	.header {
		position: fixed;
		right: 0;
		left: 0;
		margin: 0 auto;
	}
	.menu {
		flex-direction: column;
		text-align: start;
		position: fixed;
		top: 0;
		right: -100%;
		width: 70vw;
		height: 100vh;
		background-color: #fff;
		transition: right 0.3s ease;
		border-radius: 0;
		z-index: 5;
	}
	.menu li {
		position: relative;
		flex-basis: 0;
		top: 12vh;
		margin-bottom: 5%;
		width: 35vw;
	}
	.menu a {
		font-size: 1.5rem;
		width: 100%;
		height: auto;
	}
	.menu.active {
		right: 0;
	}
	.submenu {
		display: block;
		position: fixed;
		top: 0;
		right: -100%;
		width: 70vw;
		height: 100vh;
		transition: right 0.3s ease;
		border-radius: 0;
		background-color: #fff;
	}
	.submenu.active {
		right: 0;
	}
	.submenu .back-btn {
		font-family: Noto Sans TC;
		font-size: 1.5rem;
		display: block;
		margin: 1em auto;
		border: none;
		padding: 1ex 1em;
		color: inherit;
		background: none;
	}
	.reservation-li {
		display: none;
	}
	.menu a:hover {
		color: inherit;
		background-color: transparent;
	}
	.mobile {
		display: block;
	}
	.reserve-icon {
		z-index: 10;
		width: 40px;
		z-index: 10;
		position: fixed;
		right: 15%;
	}
	.reserve-icon img {
		width: 100%;
		height: auto;
	}
	/* -------------------------------------hbmenu */

	.hbmenu {
		display: block;
		height: 40px;
		width: 40px;
		margin-left: auto;
		position: relative;
		z-index: 10;
	}
	.hbmenu span {
		height: 5px;
		width: 100%;
		background: #000;
		border-radius: 25px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: 0.3s ease;
	}
	.hbmenu span:nth-child(1) {
		top: 25%;
	}
	.hbmenu span:nth-child(3) {
		top: 75%;
	}
	.hbmenu.active span:nth-child(1) {
		top: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
	}
	.hbmenu.active span:nth-child(2) {
		opacity: 0;
	}
	.hbmenu.active span:nth-child(3) {
		top: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	/*----------------------------------------banner*/
	.banner {
		padding: 3rem 0.5rem 0;
		margin-bottom: 0rem;
	}

	.slider-img {
		padding: 1rem 0;
		overflow: hidden;
	}
	.slider-img img {
		width: 100%;
		height: 50vh;
		object-fit: cover;
	}
	.slider-title1,
	.slider-title2 {
		font-size: 2.25rem;
	}
	.slider-buttons {
		display: none;
	}
	.about-content {
		display: block;
		padding: 1rem;
	}
	/*----------------------------------------about*/
	.about-img {
		display: none;
	}
	.about-txt {
		transform: none;
	}

	.about-txt h2 {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	.about-txt h3 {
		font-size: 1rem;
		line-height: 1.8;
	}

	.about-images {
		display: flex;
		justify-content: flex-start;
		column-gap: 0.1rem;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		-webkit-overflow-scrolling: touch;
		scrollbar-width: none;
	}

	.about-images > div {
		flex: 0 0 90vw;
		scroll-snap-align: start;
		overflow: hidden;
	}
	.about-images::-webkit-scrollbar {
		display: none;
	}
	.about-images img {
		width: 100%;
		object-fit: contain;
		height: 100%;
		display: block;
	}
	.img01,
	.img02 {
		align-self: auto;
	}
	/*----------------------------------------seasonal*/
	.seasonal {
		padding: 1rem;
	}
	.seasonal-section {
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.seasonal-title h2 {
		font-size: 2rem;
		margin-bottom: 1rem;
	}
	.seasonal-txt {
		margin: 0;
		padding: 1rem;
	}
	.seasonal-txt h3 {
		font-size: 1.5rem;
	}
	.seasonal-txt h4 {
		font-size: 1rem;
	}
	.seasonal-cards {
		display: flex;
		flex-direction: column;
		row-gap: 1.5rem;
	}
	.seasonal-card {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 1rem 0;
	}
	.seasonal-card-img {
		flex: 0 0 90vw;
	}
	.seasonal-card-txt {
		text-align: center;
	}
	.seasonal-card-txt h3 {
		font-size: 1.5rem;
	}
	.seasonal-card-txt h4 {
		font-size: 1rem;
	}
	.seasonal-hover {
		opacity: 1;
	}
	.seasonal-hover p {
		font-size: 1rem;
	}
	.seasonal-hover a {
		font-size: 1rem;
	}
	/*----------------------------------------recommend*/
	.recommend {
		padding: 1rem;
	}
	.recommend h2 {
		font-size: 2rem;
		margin-bottom: 1rem;
	}
	.recommend-cards {
		row-gap: 2rem;
	}
	.recommend-card {
		flex-direction: column;
		row-gap: 1rem;
		padding: 2rem;
	}
	.recommend-cards :nth-child(2) {
		flex-direction: column;
	}
	.recommend-card-img {
		width: 70vw;
	}
	.recommend-card-txt h3 {
		font-size: 1.5rem;
		text-align: center;
	}
	.recommend-card-txt h4 {
		font-size: 1rem;
	}
	.recommend-card-txt p {
		font-size: 1rem;
	}
	.price {
		font-size: 1rem;
	}
	.price span {
		font-size: 2rem;
	}
	.palm-pic {
		width: 25vw;
	}
	.palm-pic.palm-bottom {
		top: 35%;
		left: 0;
	}
	/*----------------------------------------selected*/
	.selected {
		padding: 2.5rem 1.5rem;
	}
	.selected h2 {
		font-size: 2rem;
		margin-bottom: 1rem;
	}
	.selected-card {
		flex-direction: column;
		gap: 1.5rem;
	}
	.selected-card-pic {
		width: 70vw;
	}
	.selected-card-txt {
		gap: 1rem;
	}
	.selected-card-txt h3 {
		font-size: 1.5rem;
	}
	.selected-card-txt h4 {
		font-size: 1rem;
	}
	.price {
		font-size: 1rem;
	}
	.price span {
		font-size: 2rem;
	}
	.selected-button {
		width: 20vw;
	}
	.selected-button img {
		object-fit: cover;
	}
	.selected-button.right {
		top: 85%;
		right: 5%;
	}
	.selected-button.left {
		top: 85%;
		left: 5%;
	}
	/*----------------------------------------reservation*/
	.reservation {
		margin-top: 2rem;
	}
	.reservation-pic {
		width: 100vw;
		margin-top: rem;
		overflow: hidden;
	}
	.reservation-pic img {
		width: 100%;
		height: 60vh;
		object-fit: cover;
	}
	.reservation-txt {
		padding-top: 3rem;
		row-gap: 2rem;
	}
	.reservation-txt h2 {
		font-size: 1.3rem;
	}
	.reservation-txt h3 {
		font-size: 1rem;
		margin-bottom: 1.5rem;
	}
	.reservation-button {
		font-size: 1.2rem;
		padding: 1ex 2em;
	}
	/*----------------------------------------footer*/
	.footer {
		padding: 2rem 0;
	}
	.footer-content {
		row-gap: 0em;
	}
	.footer-pic {
		width: 40vw;
	}
	.footer-pic img {
		width: 100%;
		height: auto;
	}
	.footer-txt p {
		font-size: 1rem;
		line-height: 2rem;
	}
	.footer-icon {
		column-gap: 0.5rem;
		margin-bottom: 1.5rem;
	}
	.footer-icon img {
		width: 8vw;
	}
}
@media (max-width: 768px), (hover: none) {
	.menu a:hover {
		color: inherit;
		background-color: transparent;
	}
	.seasonal-card-img:hover {
		transform: none;
	}
	.seasonal-card-img:hover .seasonal-hover {
		transform: none;
	}
	.reservation-button:hover {
		background-color: inherit;
	}
}
