body {
	font-family: Noto Sans TC;
	background-color: #eaeae4;
	letter-spacing: 0.125rem;
}
.underline {
	border-bottom: 0.125rem solid #9f9f9f;
	padding-bottom: 0.1875rem;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 1ex;
	box-sizing: border-box;
	background-color: #fff;
	max-width: 1920px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	transition: top 0.5s ease;
}
.logo {
	flex-basis: 15%;
}
.logo img {
	width: 100%;
	height: auto;
}
.menu {
	display: flex;
}
.menu li {
	flex-basis: 20%;
}
.menu a {
	font-family: Zen Maru Gothic;
	display: block;
	font-size: 1.5rem;
	color: #000;
	text-decoration: none;
	text-align: center;
	border-radius: 0.3125rem;
	transition: background 0.2s;
	padding: 1rem 0.5rem;
	box-sizing: border-box;
}
.menu a:hover {
	color: #617f99;
	background-color: #d6dfe6;
}
.submenu {
	display: none;
	position: absolute;
	background-color: #fff;
	z-index: 100;
	border-radius: 0.3125rem;
}
.menu li:hover .submenu {
	display: block;
}
.submenu button {
	display: none;
}
.hbmenu {
	display: none;
}

@media (max-width: 768px) {
	.logo img {
		width: 100px;
	}
	.header {
		position: fixed;
		right: 0;
		left: 0;
		margin: 0 auto;
	}
	.menu {
		flex-direction: column;
		/* flex-wrap: wrap; */
		text-align: start;
		position: fixed;
		top: 0;
		right: -100%;
		width: 75vw;
		height: 100vh;
		background-color: #fff;
		transition: right 0.3s ease;
		border-radius: 0;
		z-index: 5;
	}
	.menu li {
		position: relative;
		top: 12vh;
		flex-basis: 0;
		margin-bottom: 5%;
		width: 35vw;
	}
	.menu a {
		font-size: 1.5rem;
		width: 100%;
		height: auto;
	}
	.menu.active {
		right: 0;
	}
	.submenu {
		display: block;
		position: fixed;
		top: 0;
		right: -100%;
		width: 75vw;
		height: 100vh;
		transition: right 0.3s ease;
		border-radius: 0;
		background-color: #fff;
	}
	.submenu.active {
		right: 0;
	}
	.submenu .back-btn {
		font-family: Noto Sans TC;
		font-size: 1.5rem;
		display: block;
		margin: 1em auto;
		border: none;
		padding: 1ex 1em;
		color: inherit;
		background: none;
	}
	.menu a:hover {
		color: inherit;
		background-color: transparent;
	}
	/* -------------------------------------hbmenu */
	.hbmenu {
		display: block;
		height: 40px;
		width: 40px;
		margin-left: auto;
		position: relative;
		z-index: 10;
	}
	.hbmenu span {
		height: 5px;
		width: 100%;
		background: #000;
		border-radius: 25px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: 0.3s ease;
	}
	.hbmenu span:nth-child(1) {
		top: 25%;
	}
	.hbmenu span:nth-child(3) {
		top: 75%;
	}
	.hbmenu.active span:nth-child(1) {
		top: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
	}
	.hbmenu.active span:nth-child(2) {
		opacity: 0;
	}
	.hbmenu.active span:nth-child(3) {
		top: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}
/* --------------------------------section */

.ingredient {
	padding: 8% 10%;
	z-index: 1;
}
.ingredient-title h2 {
	font-family: Zen Maru Gothic;
	text-align: center;
	margin-bottom: 5%;
	font-size: 2.6rem;
}
.ingredient-cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
	gap: 2%;
}
.ingredient-card {
	text-align: end;
}
.ingredient-pic {
	width: 27.7vw;
	position: relative;
}
.ingredient-pic img {
	width: 100%;
	height: auto;
}
.ingredient-card button {
	padding: 0.5em 1em;
	font-size: 1.25rem;
	border-radius: 6.25rem;
	display: inline-block;
	cursor: pointer;
	transition: transform 0.3s ease;
	border: none;
	color: #617f99;
	background-color: #d6dfe6;
}
.ingredient-card:nth-child(2),
.ingredient-card:nth-child(5) {
	transform: translateY(15%);
}

.ingredient-card button:hover {
	transform: scale(1.1);
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	backdrop-filter: blur(0.3125rem);
	background-color: rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;
	display: none;
	z-index: 1;
}
.info-box {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(240, 240, 240, 0.95);
	padding: 1%;
	width: 25vw;
	display: none;
	z-index: 2;
}
.close-btn {
	position: absolute;
	top: -1%;
	right: -1%;
	background: none;
	border: none;
	font-size: 1.5rem;
	color: #000;
	cursor: pointer;
	z-index: 1;
}
.info-box img {
	width: 100%;
}
.info-content {
	text-align: center;
}
#info-title {
	font-size: 2rem;
	font-weight: bold;
	color: #cf9f94;
}
#info-subtitle {
	font-size: 1.5rem;
	line-height: 2.625rem;
	color: #b0abaa;
}
#info-description {
	font-size: 1.25rem;
	line-height: 1.875rem;
	color: #666666;
}
.palm-pic {
	width: 18vw;
	position: absolute;
	transform: scaleX(-1);
	right: 0;
	top: 15%;
	z-index: -1;
}
.palm-pic img {
	width: 100%;
	height: auto;
}
/* -------------------------------footer */
.footer {
	position: relative;
	padding-bottom: 10%;
}
.footer-background {
	max-width: 1920px;
	position: absolute;
	bottom: 0;
	z-index: -1;
}
.footer-background img {
	width: 100%;
	height: auto;
}
.footer-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 2.5rem;
}
.footer-txt p {
	text-align: start;
	font-size: 1.5rem;
	line-height: 2.625rem;
	color: #617f99;
}
.footer-icon {
	display: flex;
	column-gap: 2.5rem;
}
@media (max-width: 768px) {
	.ingredient {
		padding: 6rem 1rem 1rem;
	}
	.ingredient-title h2 {
		font-size: 2rem;
	}
	.ingredient-cards {
		grid-template-columns: repeat(2, 1fr);
		gap: 0rem;
	}
	.ingredient-card:nth-child(2),
	.ingredient-card:nth-child(5) {
		transform: none;
	}
	.ingredient-card {
		box-sizing: border-box;
		padding: 1rem 0.5rem;
		text-align: center;
	}
	.ingredient-pic {
		width: 45vw;
		margin-bottom: 0.5rem;
	}
	.ingredient-pic img {
	}
	.ingredient-card button {
		font-size: 1rem;
	}
	.info-box {
		width: 60vw;
		height: auto;
		padding: 1rem;
		/* top:60%; */
	}
	#info-image {
	}
	#info-title {
		font-size: 1.5rem;
	}
	#info-subtitle {
		font-size: 1.25rem;
	}
	#info-description {
		font-size: 1rem;
	}
	.close-btn {
		top: -0.5rem;
		right: -1.5rem;
	}
	.palm-pic {
		width: 25vw;
		top: 10%;
	}
	.footer {
		padding: 2rem 0;
	}
	.footer-content {
		row-gap: 0em;
	}
	.footer-pic {
		width: 40vw;
	}
	.footer-pic img {
		width: 100%;
		height: auto;
	}
	.footer-txt p {
		font-size: 1rem;
		line-height: 2rem;
	}
	.footer-icon {
		column-gap: 0.5rem;
	}
	.footer-icon img {
		width: 8vw;
	}
}
@media (max-width: 768px), (hover: none) {
	.menu a:hover {
		color: inherit;
		background-color: transparent;
	}
	.ingredient-card button:hover {
		transform: none;
	}
}
