body {
	font-family: Noto Sans TC;
	background-color: #eaeae4;
	letter-spacing: 0.125rem;
}

.underline {
	border-bottom: 0.125rem solid #9f9f9f;
	padding-bottom: 0.1875rem;
}

.sidebar {
	width: 12.5rem;
	left: 3.125rem;
	top: 3.75rem;
	position: fixed;
	display: flex;
	flex-direction: column;
	z-index: 1;
}

.sidebar .logo {
	margin-bottom: 2.625rem;
}

.sidebar a {
	display: block;
	padding: 0.625rem 1rem;
	text-decoration: none;
	color: #000;
	transition: background 0.2s;
}

.sidebar-menu a {
	font-size: 1.5rem;
	line-height: 2.625rem;
}

.sidebar-submenu a {
	font-size: 1.25rem;
	line-height: 1.875rem;
}

.sidebar-menu a:hover {
	color: #617f99;
	background-color: #d6dfe6;
	border-radius: 0.3125rem;
}

.sidebar-menu li:hover .sidebar-submenu {
	display: block;
}

.sidebar-submenu {
	display: none;
	background-color: #fff;
	padding: 0.5rem 0.5rem;
	border-radius: 0.3125rem;
}

/* 主要內容區域樣式 */
.main-content {
	display: flex;
	flex-direction: column;
	padding: 5% 12%;
}

.reservation-top {
	border-bottom: 0.125rem solid #9f9f9f;
	padding-bottom: 5rem;
}

.reservation-top img {
	width: 100%;
}

.resercation-title {
	font-size: 2.6rem;
	color: #cf9f94;
	margin: 2% 0 3% 0;
}

.section-subtitle {
	font-size: 2.25rem;
	line-height: 2.5rem;
	text-align: center;
	margin-bottom: 2%;
}

.reservation-section {
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3%;
	gap: 15%;
}

#reservationForm {
	text-align: center;
}

.form-group {
	text-align: start;
	margin: 5%;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group input[type="time"],
.form-group textarea {
	width: 100%;
	padding: 1rem;
	border: 0.0625rem solid #ccc;
	border-radius: 0.25rem;
	box-sizing: border-box;
	font-size: 1rem;
}

.form-group.date-time {
	display: flex;
	gap: 1rem;
}

/* 若日後需要用到時間與日期欄位並列的樣式可啟用此段
.form-group.date-time .date-group,
.form-group.date-time .time-group {
	flex: 1;
}
*/

.submit-button {
	padding: 1rem 1rem;
	background: #fff;
	border: 0.0625rem solid #ccc;
	border-radius: 0.25rem;
	cursor: pointer;
	font-size: 1rem;
}

.submit-button:hover {
	background-color: #d6dfe6;
	color: #617f99;
	border: none;
}

.reservation-image img {
	width: 100%;
}
.palm {
	width: 18%;
	position: absolute;
	transform: scaleX(-1);
	right: 0;
	top: 55%;
}
.footer-content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3% 0;
	gap: 15%;
}

.footer-txt {
	position: relative;
	color: #617f99;
}

.footer-txt::before {
	content: "";
	position: absolute;
	top: 0;
	left: -20%;
	width: 0.0625rem;
	height: 100%;
	background-color: #000;
}
.footer-txt p {
	font-size: 1.5rem;
	line-height: 2.625rem;
}
.footer-icon {
	display: flex;
	gap: 80%;
}
